<!DOCTYPE html>
<html lang="en" ng-app="10SecondsMath">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="10 Second Math game">
    <meta name="author" content="">

    <script src="bower_components/angular/angular.js"></script>
    <script src="js/application.js"></script>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
  </head>
  <body ng-controller="ClockCtrl">
    <div class="container-fluid">
      <div class="row">

        <div class="page-header">
          <h2 class="text-center">10 Seconds Math Game</h2>
        </div>

        <div id="gameover-box" class="well col-xs-12 col-sm-8 col-sm-offset-2" ng-show="gameover">
          <h1 class="text-center">Game Over</h1>
          <h3 class="text-center">You scored {{points}} Points</h3>
          <button type="button" class="btn btn-primary center-block" ng-click="init()">Start again?</button>
        </div>

        <div id="answer-box" class="well col-xs-12 col-sm-8 col-sm-offset-2" ng-hide="gameover">
          <p id="counter" class="text-center">
            {{secondsLeft}} Seconds Left
          </p>
          <p id="equation" class="text-center">
            {{num1}} + {{num2}}
          </p>
          <input type="number"
                 class="center-block"
                 id="solution-input"
                 placeholder="Your answer"
                 ng-model="userInput"
                 ng-change="evalAnswer()">
        </div>

      </div>
    </div>
  </body>
</html>
